* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background: #050507;
  color: white;
  scroll-behavior: smooth;
}

html {
  background-color: #050507;
}

body {
  position: relative;
  isolation: isolate;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

/* SAFARI FIX */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: #050507;
  z-index: -999;
}